<ion-view title="Neue Aufgabe" id="page13">
    <ion-content padding="true" class="has-header">

        <div class="list list-inset">
            <div class="item item-divider desc">
                Aufgabe bearbeiten: {{ task.name }}
            </div>


            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Titel der Aufgabe" value="{{task.name}}">
                </label>
                <label class="item item-input">
                    <textarea placeholder="Beschreibung">{{task.description}}</textarea>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Ort" value="{{task.location}}">
                </label>

                <div class="item item-divider desc">
                    Startzeit
                </div>
                <div class="row no-padding">

                    <div class="col col-60 no-padding">
                        <label class="item item-input">
                            <input type="date" value="{{task.startTime | date: 'yyyy-MM-dd'}}">
                        </label>
                    </div>
                    <div class="col col-35 no-padding">
                        <label class="item item-input">
                            <input type="time" value="{{task.startTime | date: 'HH:mm'}}">
                        </label>
                    </div>
                </div>

                <div class="item item-divider desc">
                    Endzeit
                </div>
                <div class="row no-padding">

                    <div class="col col-60 no-padding">
                        <label class="item item-input">
                            <input type="date" value="{{task.endTime | date: 'yyyy-MM-dd'}}">
                        </label>
                    </div>
                    <div class="col col-35 no-padding">
                        <label class="item item-input">
                            <input type="time" value="{{task.endTime | date: 'HH:mm'}}">
                        </label>
                    </div>
                </div>


                <div class="button-bar island newTaskButton">
                    <a class="button button-balanced" href="#">
                        <span class="ion-plus-round icon" data-pack="default"></span>
                        <span class="menuText">Speichern</span>
                    </a>
                    <a class="button button-assertive" href="#">
                        <span class="ion-plus-round icon" data-pack="default"></span>
                        <span class="menuText">Verwerfen</span>
                    </a>
                </div>


            </div>
        </div>
    </ion-content>
</ion-view>
