<ion-view title="Meine Aufgaben" id="page4">
    <ion-content padding="true" class="has-header">

        <div class="list list-inset">

            <div class="item item-divider">
                Zugesagte Aufgaben
            </div>

            <div class="item taskItem" ng-repeat="item in taskList | orderBy: 'startTime'">

                <dic class="row">
                    <div class="col">
                        <a href="#/{{item.id}}" class="taskHeadlineLink">
                            <h2 class="taskHeadline">{{ item.name }}</h2>
                        </a>
                    </div>
                </dic>

                <!--<div class="row">
                    <div class="col">
                        <h3>{{ item.description | limitTo:150 }}</h3>
                    </div>
                </div>-->

                <div class="row">
                    <div class="col">
                        <span class="ion-calendar" data-pack="default"></span>
                        {{ item.startTime | date:'dd. MMM'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="ion-ios-location" data-pack="default"></span>
                        {{ item.location }}
                    </div>
                </div>

                <div class="button-bar island taskMenuButton">
                    <a class="button button-assertive">
                        <span class="ion-minus-round icon" data-pack="default"></span>
                        <span class="menuText">Absagen</span>
                    </a>
                    <a class="button button-stable" href="#/task/detail/{{item.projectId}}/{{item.id}}">
                        <span class="ion-more icon" data-pack="default"></span>
                        <span class="menuText more">Mehr</span>
                    </a>
                </div>

                <div class="button-bar taskMenuButton">
                    <a class="button button-stable">
                        <span class="ion-ios-star-outline icon" data-pack="default"></span>
                        <span class="menuText">Nicht mehr folgen</span>
                    </a>
                </div>

            </div>
        </div>

    </ion-content>
</ion-view>
