<ion-view title="Benachrichtigungen" id="page3">
    <ion-content padding="true" class="has-header">

        <div class="list">


            <a class="item" href="#">Task 2 wurde geändert (Location).</a>
            <a class="item" href="#">Task 3 wurde geändert (Startzeit auf 23.12.2016).</a>
            <a class="item" href="#">Task 22 wurde geändert (Endzeit auf 01.01.2017).</a>
            <a class="item" href="#">Du hast Task 12 abgesagt.</a>


        </div>

    </ion-content>
</ion-view>