<ion-view title="Einstellungen" id="page12">
    <ion-content padding="true" class="has-header">
        <ul class="list">

            <li class="item item-divider">
                Benachrichtigungen
            </li>

            <li class="item item-toggle">
                Push-Notification
                <label class="toggle toggle-balanced">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>

            <li class="item item-divider">
                Positionsbestimmung
            </li>

            <li class="item item-toggle">
                GPS
                <label class="toggle toggle-balanced">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>

            <li class="item item-toggle">
                Mobilfunk
                <label class="toggle toggle-balanced">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>

            <li class="item item-toggle">
                WLAN
                <label class="toggle toggle-balanced">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>

        </ul>
    </ion-content>
</ion-view>