<ion-view title="Login" id="page5">
    <ion-content padding="true" class="has-header">
        <form class="list" name="authorizationForm" novalidate="" ng-submit="signIn(authorizationForm)">
            <ion-list>

					<div class="error-container main-error-container" ng-show="hasWrongCredentials">
						 <div class="error">
						 	 <i class="ion-information-circled"></i>
						 	 Falsche Login Daten!
						   </div>
					</div>

					 <label class="item item-input" ng-class="{
						 	 'has-errors' : authorizationForm.email.$invalid && authorizationForm.email.$dirty,
							 'no-errors' : authorizationForm.email.$valid && !authorizationForm.email.$untouched && !hasWrongCredentials}">
	                <span class="input-label">Email</span>
	                <input type="email" name="email" ng-model="authorization.email" required>
	              </label>

	              <div class="error-container" ng-show="authorizationForm.email.$invalid && authorizationForm.email.$dirty" ng-messages="authorizationForm.email.$error">
	                <div ng-messages-include="error-list.html"></div>
	              </div>

					  <label class="item item-input" ng-class="{
						   'has-errors' : authorizationForm.password.$invalid && authorizationForm.password.$dirty,
							'no-errors' : authorizationForm.password.$valid  && authorizationForm.$untouched && !hasWrongCredentials}">
	                <span class="input-label">Passwort</span>
	                <input type="password" name="password" ng-model="authorization.password" required>
	              </label>

	              <div class="error-container" ng-show="authorizationForm.password.$invalid && authorizationForm.password.$dirty" ng-messages="authorizationForm.password.$error">
	                  <div ng-messages-include="error-list.html"></div>
	              </div>

            </ion-list>

            <div class="spacer" style="height: 40px;"></div>
            <input type="submit" id="login-button1" class="button button-stable button-block" ng-click="checkLogin(authorization.email, authorization.password)" value="Einloggen" ng-disabled="authorizationForm.$invalid" />
            <a ui-sref="registrierung" id="login-button2" class="button button-positive  button-block button-clear">Neuen Account anlegen</a>
            <a ui-sref="entdeckungsreise" id="login-button6" class="button button-positive  button-block button-clear">Entdeckungsreise</a>
        </form>
    </ion-content>
</ion-view>

<script id="error-list.html" type="text/ng-template">
  <div class="error" ng-message="required">
	 <i class="ion-information-circled"></i>
	 Pflichtfeld!
  </div>
  <div class="error" ng-message="email">
  <i class="ion-information-circled"></i>
  Bitte eine gültige EMail eintragen!
  </div>
  <div class="error" ng-message="minlength">
	 <i class="ion-information-circled"></i>
	 Minimum length of this field is 5 characters!
  </div>
  <div class="error" ng-message="maxlength">
	 <i class="ion-information-circled"></i>
	 Maximum length of this field is 20 characters!
  </div>
</script>
