<ion-view title="Neuigkeiten" id="page2">
    <ion-content padding="true" class="has-header">

        <div class="list list-inset">
            <a ng-repeat="item in newsList"
               href="#/{{item.id}}"
               class="item">

                <h2>{{ item.name }}</h2>
                <h4>{{ item.description }}</h4>
                <span>{{ item.startTime | date:'dd. MMM'}}</span>
                <span>{{ item.location }}</span>
                <span>Zusagen</span>
                <span>Folgen</span>
                <span>F... Mehr info</span>

            </a>
        </div>

    </ion-content>
</ion-view>