<ion-view title="Organisation" id="page8">
	<ion-content padding="true" class="has-header">

		<div class="row">
			<div class="col col-25">
				<img src="img/orglogo.jpg" alt="Logo Rotes Kreuz" />
			</div>
			<div class="col padding-left">
				<h2>ROTES KREUZ</h2>
				<p>
					Donec posuere vulputate arcu. Etiam imperdiet imperdiet orci. Fusce vulputate eleifend sapien. Vivamus consectetuer hendrerit lacus.
				</p>
			</div>
		</div>

		<div class="button-bar island">
			<a class="button button-stable button-outline"
				ng-click="displayOpenProjects()"
				ng-class="{'active' : showOpenProjects}">Projekte</a>
			<a class="button button-stable button-outline"
				ng-click="displayCompletedProjects()"
				ng-class="{'active' : showCompletedProjects}">abgeschl. Projekte</a>
		</div>

		<div class="list list-inset" ng-show="showOpenProjects">
			 <a ng-repeat="openProject in openProjects"
				 href="#/sidemenu_projects/{{openProject.id}}"
				 class="item">

				 <div class="row">
				 	<div class="col col-25" style="
						background: url('{{openProject.imagePath}}');
						background-size: cover;
						height: 100px;">
				 	</div>

					<div class="col padding-left">
						<h2>{{ openProject.name }}</h2>
						<h4 class="islandHalf">{{ openProject.completedTasks}}/{{openProject.maxTasks}} Aufgaben erledigt</h4>
					</div>
				 </div>
			 </a>
		</div>

		<div class="list list-inset" ng-show="showCompletedProjects">
			 <a ng-repeat="completedProject in completedProjects"
				 href="#/sidemenu_projects/{{completedProject.id}}"
				 class="item">

				 <div class="row">
					<div class="col col-25" style="
						background: url('{{completedProject.imagePath}}');
						background-size: cover;
						height: 100px;">
					</div>

					<div class="col padding-left">
						<h2>{{ completedProject.name }}</h2>
						<h4 class="islandHalf">{{ completedProject.completedTasks}}/{{completedProject.maxTasks}} Aufgaben erledigt</h4>
					</div>
				 </div>
			 </a>
		</div>

	</ion-content>
</ion-view>
