<ion-view title="Organisation" id="page8">
	<ion-content padding="true" class="has-header">

		<div class="row">
			<div class="col col-25">
				<img src="img/orglogo.jpg" alt="Logo Rotes Kreuz" />
			</div>
			<div class="col padding-left">
				<h2>ROTES KREUZ</h2>
				<p>
					Donec posuere vulputate arcu. Etiam imperdiet imperdiet orci. Fusce vulputate eleifend sapien. Vivamus consectetuer hendrerit lacus.
				</p>
			</div>
		</div>

		<div class="button-bar island">
			<a class="button button-stable button-outline">Projekte</a>
			<a class="button button-stable button-outline">abgeschl. Projekte</a>
		</div>

	</ion-content>
</ion-view>
