<ion-view title="Organisation" id="page8">
	<ion-content padding="true" class="has-header">

		<div class="row">
			<div class="col col-25">
				<img src="img/orglogo.jpg" alt="Logo Rotes Kreuz" />
			</div>
			<div class="col padding-left">
				<h2>ROTES KREUZ</h2>
				<p>
					Donec posuere vulputate arcu. Etiam imperdiet imperdiet orci. Fusce vulputate eleifend sapien. Vivamus consectetuer hendrerit lacus.
				</p>
			</div>
		</div>

		<div class="button-bar island">
			<a class="button button-stable button-outline">Projekte</a>
			<a class="button button-stable button-outline">abgeschl. Projekte</a>
		</div>

		<div class="list list-inset">
			 <a ng-repeat="project in projects"
				 href="#/projekt/{{project.id}}"
				 class="item">

				 <div class="row">
				 	<div class="col col-25" style="
						background: url('{{project.imagePath}}');
						background-size: cover;
						height: 100px;">
				 	</div>

					<div class="col padding-left">
						<h2>{{ project.name }}</h2>
						<h4>{{ project.description }}</h4>
					</div>
				 </div>



			 </a>
		</div>

	</ion-content>
</ion-view>
