<ion-view title="{{project.name}}" id="page10">
    <ion-content padding="true" class="has-header">

		<div class="row">
            <div class="col col-25" ng-style="project.imagePath != '' && {
                'background-image':'url('+project.imagePath+')',
                'background-size': 'cover',
                'height': '100px'}">
            </div>
 			<div class="col padding-left">
 				<h2 ng-bind="project.name"></h2>
 				<p ng-bind="project.description" class="desc"></p>

                <div class="row">
                    <div class="col">
                        <span class="ion-calendar" data-pack="default"></span>
                        {{ project.startTimeCustomized | date:'dd. MMM'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="ion-ios-location" data-pack="default"></span>
                        {{ project.location }}
                    </div>
                </div>

                <div class="button-bar newTaskButton">
                    <a class="button button-balanced" href="#/{{project.id}}/neueAufgabe">
                        <span class="ion-plus-round icon" data-pack="default"></span>
                        <span class="menuText"> Neue Aufgabe</span>
                    </a>
                </div>
 			</div>
 		</div>
		<div class="button-bar island islandBottom ">
			<a class="button button-stable button-outline"
				ng-click="displayAllTasks()"
				ng-class="{'active' : showAllTasks}">alle Aufgaben</a>
			<a class="button button-stable button-outline"
				ng-click="displayCompletedTasks()"
				ng-class="{'active' : showCompletedTasks}">abgeschl. Aufgaben</a>
			<a class="button button-stable button-outline"
				ng-click="displayAssignedTasks()"
				ng-class="{'active' : showAssignedTasks}">verg. Aufgaben</a>
		</div>

		<!-- all tasks -->
		<div class="item taskItem"
			ng-repeat="item in project.childTasks | orderBy: 'startTime'"
			ng-show="showAllTasks">

            <dic class="row">
                <div class="col">
                    <a href="#/{{item.id}}" class="taskHeadlineLink">
                        <h2 class="taskHeadline">{{ item.name }}</h2>
                    </a>
                </div>
            </dic>

             <div class="row">
                  <div class="col">
                        <h3 class="desc">{{ item.description | limitTo:150 }}</h3>
                  </div>
             </div>

            <div class="row">
                <div class="col">
                    <span class="ion-calendar" data-pack="default"></span>
                    {{ item.startTime | date:'dd. MMM'}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="ion-ios-location" data-pack="default"></span>
                    {{ item.location }}
                </div>
            </div>

            <div ng-show="!project.isAdmin">
                <div class="button-bar island taskMenuButton">
                    <a class="button button-stable">
                        <span class="ion-minus-round icon" data-pack="default"></span>
                        <span class="menuText">Absagen</span>
                    </a>
                    <a class="button button-stable ">
                        <span class="ion-more icon" data-pack="default"></span>
                        <span class="menuText more">Mehr</span>
                    </a>
                </div>

                <div class="button-bar taskMenuButton">
                    <a class="button button-stable">
                        <span class="ion-ios-star-outline icon" data-pack="default"></span>
                        <span class="menuText">Nicht mehr folgen</span>
                    </a>
                </div>
            </div>


            <div ng-show="project.isAdmin">
                <div class="button-bar island taskMenuButton">
                    <a class="button button-stable" href="#/task/edit/{{project.id}}/{{item.id}}">
                        <span class="ion-more icon" data-pack="default"></span>
                        <span class="menuText more">Bearbeiten</span>
                    </a>
                    <a class="button button-assertive">
                        <span class="ion-minus-round icon" data-pack="default"></span>
                        <span class="menuText">Löschen</span>
                    </a>
                </div>

            </div>
		</div>

		<!-- completed Tasks -->
		<div class="item taskItem"
			ng-repeat="item in project.completedTasks | orderBy: 'startTime'"
			ng-show="showCompletedTasks && project.hasCompletedTasks">

            <dic class="row">
                <div class="col">
                    <a href="#/{{item.id}}" class="taskHeadlineLink">
                        <h2 class="taskHeadline">{{ item.name }}</h2>
                    </a>
                </div>
            </dic>

            <div class="row">
                <div class="col">
                    <h3 class="desc">{{ item.description | limitTo:150 }}</h3>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <span class="ion-calendar" data-pack="default"></span>
                    {{ item.startTime | date:'dd. MMM'}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="ion-ios-location" data-pack="default"></span>
                    {{ item.location }}
                </div>
            </div>

            <div class="button-bar island taskMenuButton">

                <a class="button button-stable ">
                    <span class="ion-more icon" data-pack="default"></span>
                    <span class="menuText more">Mehr</span>
                </a>
            </div>

		</div>

		<!-- completed Tasks, but no results -->
		<div class="item taskItem" ng-show="showCompletedTasks && !project.hasCompletedTasks">
			<h2>Keine abgeschlossenen tasks =(</h2>
		</div>

		<!-- assigned tasks -->
		<div class="item taskItem" ng-show="showAssignedTasks">
			<h2>Vergebene Aufgaben</h2>
		</div>


    </ion-content>
</ion-view>
