<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="Neuigkeiten" icon="ion-ios-paper-outline" href="#/tabs/footer_news">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Benachrichtigungen" icon="ion-android-globe" href="#/tabs/footer_notifications">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Aufgaben" icon="ion-calendar" href="#/tabs/footer_tasks">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>