/*
 * Use this file for  custom changes <3
 */

$gutter-width: 20px;

.padding-left {
	padding-left: $gutter-width;
}

.island {
	margin-top: $gutter-width !important;
}

.islandBottom {
	margin-bottom: $gutter-width !important;
}

.islandHalf {
	margin-top: $gutter-width / 2 !important;
}

.pull-left {
	float: left;
}

.clearfix {
	&::after {
		clear: both;
	}
}

.margin-right {
	margin-right: $gutter-width / 2 !important;
}

img.responsive {
  width: 100%;
  min-width: 25%;
  max-width: 100%;
}


a.taskHeadlineLink {
  text-decoration: none;
}

h2.taskHeadline {
  font-size: 22px;
  line-height: 35px;
}

.taskMenuButton
{
  margin-bottom: 5px;

  span {
    display: block;
    
    &.icon {
      height: 16px;
    }
    &.icon:before {
      font-size: 20px !important;
      line-height: 30px !important;
    }
    
    &.menuText {
      height: 40px;
    }

    &.more {
    }
  }
}

.newTaskButton {
  span.icon:before {
    font-size: 20px !important;
    line-height: 38px !important;
    padding-right: 5px;
  }
}

.no-padding {
  padding: 0px;
}

.desc {
  white-space: normal !important;
}

.padding-right-80 {
  padding-right: 80px;
}