/*
 * Use this file for  custom changes <3
 */

$gutter-width: 20px;

.padding-left {
	padding-left: $gutter-width;
}

.island {
	margin-top: $gutter-width;
}

img.responsive {
  width: 100%;
  min-width: 25%;
  max-width: 100%;
}


a.taskHeadlineLink {
  text-decoration: none;
}

h2.taskHeadline {
  font-size: 22px;
  line-height: 35px;
}

.taskMenuButton
{
  margin-bottom: 5px;

  span {
    display: block;
    
    &.icon {
      height: 16px;
    }
    &.icon:before {
      font-size: 20px !important;
      line-height: 30px !important;
    }
    
    &.menuText {
      height: 40px;
    }
  }
  
}