.idea
bower_components/

#
#     COPIED FROM EMPTY TESTPROJECT
#
# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
